Parallel_encoding/.vscode/settings.json
Parallel_encoding/example
Parallel_encoding/.vscode/configurationCache.log
Parallel_encoding/.vscode/dryrun.log
Parallel_encoding/.vscode/targets.log
Parallel_encoding/example.dSYM/Contents/Info.plist
Parallel_encoding/example.dSYM/Contents/Resources/DWARF/example
