Parallel_encoding/.vscode/settings.json
Parallel_encoding/example
Parallel_encoding/.vscode/configurationCache.log
Parallel_encoding/.vscode/dryrun.log
Parallel_encoding/.vscode/targets.log
Parallel_encoding/example.dSYM/Contents/Info.plist
Parallel_encoding/example.dSYM/Contents/Resources/DWARF/example
Parallel_encoding/parallel_seq
Parallel_encoding/parallel_seq.dSYM/Contents/Info.plist
Parallel_encoding/parallel_seq.dSYM/Contents/Resources/DWARF/parallel_seq
.DS_Store
*.class
.gitignore
